{% extends 'base.html.twig' %}
{% block title %}Liste des personnes{% endblock %}
{% block body %}
<h1> Liste des Personnes </h1>
<table border=1 width=75%>
 <tr>
    <TH>Nom </TH>
    <TH>Prénom </TH>
    <TH> Ville</TH>
    <TH> Date de naissance</TH>
    <TH> Adresse</TH>
  </tr>
  {% for person in persons %}
  <tr>
    <td> {{person.Nom() }} </td>
    <td> {{person.Prenom()}} </td>
    <td> {{person.Ville()}} </td>
    <td> {{person.Date()|date('Y-m-d')}} </td>
    <td> {{person.Adresse()}} </td>
     </tr>
{% endfor %}
</table>
{% endblock %}