{% extends 'base.html.twig' %}


{% block title %}edit user{% endblock %}
{% block body %}
<h1> Edit utilisateur </h1>
{{form_staet(form)}}
{{form_widget(form)}}

<button class="btn">{{'Update'}}</button>
{{ form_end(form) }}
<a href= "{{path('app_users')}}">back to list</a>
{% endblock %}

