{% extends 'base.html.twig' %}
{# 
{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %} #}

{% block body %}
{{ form_start(form) }}
{{ form_label(user.Prenom) }}
{{ form_widget(user.Prenom) }}
{{ form_label(user.Nom) }}
{{ form_widget(user.Nom) }}
{{ form_label(user.Email) }}
{{ form_widget(user.Email) }}
{{ form_rest(form) }}
<button type="submit">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}