{% extends 'base.html.twig' %}


{% block title %}Liste des utilisateurs{% endblock %}
{% block body %}
<div class= "container col-md-6 mx-auto mt-5 row col text-center">
  <h1 class=" text-aligne"> Liste des utilisateurs </h1>
<table class=" table table-bordered w-5" >
  <thead>
    <tr>
    <th scope="col">Nom </th> 
    <th scope="col">Prénom </th>
    <th scope="col"> Email</th>
    <th scope="col"> Action</th>
   </tr>
  </thead>
    {% for user in users %}
    <tr>
    <td> {{user.getNom() }} </td> 
    <td> {{user.getPrenom()}} </td>
    <td> {{user.getEmail()}} </td>
    <td>
        <a href= "{{path('app_user_edit',{'id':user.id}) }}" class="btn btn-info">Edit</a>
        {# <a href="{{ path('app_user_update', {'id': user.id}) }}"  class="btn btn-primary">Update</a> #}
        {# <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger">delete</a> #}
    </td> 
 
   </tr> 

 {% endfor %}
</table>
</div>
{% endblock %}


